@import "./variables";
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
div,
section,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  display: flex;
}
body {
  overflow-x: hidden;
  background-image: linear-gradient(
    to top left,
    $btns-color,
    #ffffff,
    transparent,
    transparent
  );
}

.special-head {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: baseline;
  width: 100%;
  span {
    width: 30px;
    border-bottom: 2px solid $btns-color;
  }
  h2 {
    width: fit-content;
    color: $btns-color;
    font-size: 25px;
  }
}
.btn-component {
  height: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  background: $btns-color;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
} /* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: $pale-gray-color;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: $btns-color;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} /* Handle on hover */
:-webkit-scrollbar-thumb:hover {
  background: #aaa8a8;
}
