$btns-color: rgb(7 201 224);
$white-color: #fff;
$black-color: #000;
$gray-color: #333;
$pale-gray-color: rgb(128, 127, 127);
$semi-transparent-gray: rgb(215, 215, 215, 0.5);
$dark-main-color: rgb(2, 87, 90);

$section-height: 80vh;
$section-width: 85vw;
$section-padding: 20px 10px;
