<section class="left-sec">
  <div class="title-left-sec">
    <i class="bi bi-house-heart"></i>
    <h1>Hounter</h1>
  </div>
  <div class="body-left-sec">
    <h1 class="side-title">
      Find The Place To Live <span>Your Dreams</span> Easily Here
    </h1>
    <p class="text-left-sec">
      Everything You Need About Finding Your Place To Live Will Be Here, Where
      It Will Be Easier For You
    </p>
  </div>
  <form class="search-field">
    <i class="bi bi-geo-alt"></i>
    <input type="text" placeholder="search for the place you want..." />
    <input type="submit" value="Search >" />
  </form>
  <div class="partnership">
    <h1 class="side-title">Our Partnership</h1>
    <div class="imgs">
      <img
        src="./../../assets/images/traveloka.svg"
        alt="'img"
        class="partner-img"
      />
      <img
        src="./../../assets/images/tiket.png"
        alt="'img"
        class="partner-img"
      />
      <img
        src="./../../assets/images/airbnb.svg"
        alt="'img"
        class="partner-img"
      />
      <img
        src="./../../assets/images/trip-advisor.svg"
        alt="'img"
        class="partner-img"
      />
    </div>
  </div>
</section>
