<section class="right-sec">
  <div class="btns-list">
    <ul>
      <li>About Us</li>
      <li>Article</li>
      <li>Property<i class="bi bi-chevron-down"></i></li>
    </ul>
    <button>Sign Up!</button>
  </div>
  <div class="stats-container">
    <div class="stats">
      <div class="imgs">
        <img src="./../../assets/images/profile-1.jpg" />
        <img src="./../../assets/images/profile-2.jpg" class="ms-n2" />
        <img src="./../../assets/images/profile-3.jpg" class="ms-n2" />
      </div>
      <div class="text">
        <h3>1K+ People</h3>
        <p>Successfully Getting Home</p>
      </div>
    </div>
    <div class="stats">
      <div class="imgs">
        <img src="./../../assets/images/profile-1.jpg" />
      </div>
      <div class="text">
        <h3>65 Houses</h3>
        <p>Sold Monthly</p>
      </div>
    </div>
  </div>
</section>
