@import "./../sass/_variables.scss";

.main-container {
  background-image: linear-gradient(
    to bottom right,
    $btns-color,
    #ffffff,
    transparent,
    transparent
  );
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
  overflow-x: hidden;
  @media (max-width: 768px) {
    padding: 10px 10px;
  }
}
