<div class="ready-to-sell">
  <div class="special-head">
    <span></span>
    <h2>Ready To Sell!</h2>
  </div>
  <div class="content">
    <div class="house-details">
      <div class="text">
        <h1>Let’s Tour And See Our House!</h1>
        <p>
          Houses Recommended By Our Partners That Have Been Curated To Become
          The Home Of Your Dreams!
        </p>
      </div>
      <div class="details">
        <h2>House Details</h2>
        <ul>
          <li>
            <img src="./../../assets/images/bed-icon.svg" /><span
              >4 Bedrooms</span
            >
          </li>
          <li>
            <img src="./../../assets/images/bathroom.svg" /><span
              >3 Bathrooms</span
            >
          </li>
          <li>
            <img src="./../../assets/images/garage.svg" /><span>1 CarPort</span>
          </li>
          <li>
            <img src="./../../assets/images/stairs.svg" /><span>2 Floors</span>
          </li>
        </ul>
      </div>
      <div class="profile">
        <div class="profile-img">
          <img src="./../../assets/images/profile-13.jpg" />
        </div>
        <div class="profile-data">
          <h4>Dianne Rusell</h4>
          <p>Manchester, Kentucky</p>
        </div>
        <button class="btn-component">
          <i class="bi bi-telephone"></i>
          <span>Contact Now</span>
        </button>
      </div>
    </div>
    <div class="video-container">
      <video autoplay controls loop>
        <source src="./../../assets/videos/house.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
