<div class="home-container">
  <section class="left-sec">
    <div class="title-left-sec">
      <i class="bi bi-house-heart"></i>
      <h1>Hounter</h1>
    </div>
    <div class="body-left-sec">
      <h1 class="side-title">
        Find The Place To Live <span>Your Dreams</span> Easily Here
      </h1>
      <p class="text-left-sec">
        Everything You Need About Finding Your Place To Live Will Be Here, Where
        It Will Be Easier For You
      </p>
    </div>
    <form class="search-field">
      <i class="bi bi-geo-alt"></i>
      <input type="text" placeholder="search for the place you want..." />
      <input type="submit" value="Search >" />
    </form>
    <div class="partnership">
      <h1 class="side-title">Our Partnership</h1>
      <div class="imgs">
        <img
          src="./../../assets/images/traveloka.svg"
          alt="'img"
          class="partner-img"
        />
        <img
          src="./../../assets/images/tiket.png"
          alt="'img"
          class="partner-img"
        />
        <img
          src="./../../assets/images/airbnb.svg"
          alt="'img"
          class="partner-img"
        />
        <img
          src="./../../assets/images/trip-advisor.svg"
          alt="'img"
          class="partner-img"
        />
      </div>
    </div>
  </section>
  <section class="right-sec">
    <div class="btns-list">
      <ul>
        <li>About Us</li>
        <li>Article</li>
        <li>Property<i class="bi bi-chevron-down"></i></li>
      </ul>
      <button>Sign Up!</button>
    </div>
    <div class="stats-container">
      <div class="stats">
        <div class="imgs">
          <img src="./../../assets/images/profile-1.jpg" />
          <img src="./../../assets/images/profile-2.jpg" class="ms-n2" />
          <img src="./../../assets/images/profile-3.jpg" class="ms-n2" />
        </div>
        <div class="text">
          <h3>1K+ People</h3>
          <p>Successfully Getting Home</p>
        </div>
      </div>
      <div class="stats">
        <div class="imgs">
          <img src="./../../assets/images/profile-1.jpg" />
        </div>
        <div class="text">
          <h3>65 Houses</h3>
          <p>Sold Monthly</p>
        </div>
      </div>
    </div>
  </section>
</div>
