@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600;700;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Doodle+Shadow&display=swap");
@import "./../../sass/variables";
.home-container {
  width: $section-width;
  height: $section-height;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
  }
}
