<div class="featured-house">
  <div class="special-head">
    <span></span>
    <h2>Our Recommendation</h2>
  </div>
  <div class="title">
    <h1>Featured House</h1>
    <ul>
      <li><i class="bi bi-house-door-fill"></i><span>House</span></li>
      <li><i class="bi bi-building"></i><span>Villa</span></li>
      <li><i class="bi bi-door-closed"></i> <span>Apartment</span></li>
    </ul>
    <div class="arrows">
      <span><i class="bi bi-chevron-left"></i></span>
      <span><i class="bi bi-chevron-right"></i></span>
    </div>
  </div>
  <div class="slider">
    <div class="cards-container">
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/flat-1.jpg" />
          <div class="figure popular">
            <span>
              <i class="bi bi-fire"></i>
            </span>
            <h3>Popular</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-10.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/flat-2.jpg" />
          <div class="figure new-house">
            <span>
              <i class="bi bi-house-door-fill"></i>
            </span>
            <h3>New House</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-2.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/flat-3.jpg" />
          <div class="figure best-deals">
            <span>
              <i class="bi bi-credit-card-fill"></i>
            </span>
            <h3>Best Deals</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-3.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/villa-1.jpg" />
          <div class="figure best-deals">
            <span>
              <i class="bi bi-credit-card-fill"></i>
            </span>
            <h3>Best Deals</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-10.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/villa-2.jpg" />
          <div class="figure popular">
            <span>
              <i class="bi bi-fire"></i>
            </span>
            <h3>Popular</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-6.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/flat-4.jpg" />
          <div class="figure popular">
            <span>
              <i class="bi bi-fire"></i>
            </span>
            <h3>Popular</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-6.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/flat-5.jpg" />
          <div class="figure new-house">
            <span>
              <i class="bi bi-house-door-fill"></i>
            </span>
            <h3>New House</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-1.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
      <div class="slider-card">
        <div class="img">
          <img src="./../../assets/images/flat-6.jpg" />
          <div class="figure best-deals">
            <span>
              <i class="bi bi-credit-card-fill"></i>
            </span>
            <h3>Best Deals</h3>
          </div>
        </div>
        <div class="text">
          <p>Roselands House</p>
          <p>$2,000,000</p>
        </div>
        <div class="proflie">
          <div class="profile-img">
            <img src="./../../assets/images/profile-2.jpg" />
          </div>
          <div class="profile-data">
            <p>Dany Rusell</p>
            <p>Manchester, Kentucky</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
